


.product-image {
    height: 200px;       
    width: 100%;         
    object-fit: cover;   
  }

  .description-line-clamp {
    display: -webkit-box;          /* Enables multi-line truncation */
    -webkit-box-orient: vertical;  /* Vertical orientation for the box */
    -webkit-line-clamp: 3;         /* Number of lines to display */
    overflow: hidden;              /* Hide the overflowing content */
    text-overflow: ellipsis;       /* Add ellipsis (...) for truncated text */
    height: 75px;                  /* Ensure enough space for the clamped text */
  }

  .main {
    padding-top: 107px;
  }

  .mainsignin {
    background: linear-gradient(135deg, #fafafa, #b4b488);
}

.product {
  cursor: pointer;
}
  