<main class="auth-page d-flex justify-content-center align-items-center min-vh-100">

  <div class="auth-card p-4 shadow-sm">

    <h4 class="text-center mb-3">Reset Password</h4>

    <input type="password"
      class="form-control mb-3"
      [(ngModel)]="password"
      placeholder="New password">

    <input type="password"
      class="form-control mb-3"
      [(ngModel)]="confirmPassword"
      placeholder="Confirm password">

    <button class="btn btn-success w-100" (click)="reset()">
      Update Password
    </button>

  </div>

</main>
