.navbar {
    position: sticky;
    top: -10px;
    width: 100%;
    z-index: 100;
    margin-top: 0px;
}

.accountimg {
    width: 20px;
   color: black;
}

.mobile-menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1050;
  }
  
  .mobile-menu-overlay.show {
    display: flex;
  }
  
  .mobile-menu-content {
    text-align: center;
  }
  
  .btn-close {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
  }
  
