
<div class="navbar">
  
  <nav class="navbar navbar-expand-lg bg-body-secondary py-3 px-4">
    <div class="container-fluid d-flex justify-content-center">
      <a class="navbar-brand fs-3 text-secondary fw-bolder" href="#">Tazerh Store</a>
    
      <!-- Center Search Bar -->
      <div class="d-none d-lg-block mx-auto col-7 ms-3">
        <form class="d-flex">
          <input
            class="form-control form-control-lg"
            type="text"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="ms-2 btn btn-outline-secondary">Search</button>
        </form>
      </div>

      <!-- Buttons/Links -->
      <div>
        <ul class="navbar-nav d-flex flex-row gap-3">
          <!-- Large Screen Account Dropdown -->
          <li class="nav-item dropdown d-lg-inline d-none">
            <a
              *ngIf="!authserviceService.isLoggedIn()"
              class="nav-link dropdown-toggle d-flex justify-content-center align-items-center"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <img
                class="accountimg"
                src="https://img.icons8.com/?size=50&id=11727&format=png"
                alt=""
              />
              <span class="ms-1 d-none d-lg-block">Account</span>
            </a>
            <a
              *ngIf="authserviceService.isLoggedIn()"
              class="nav-link dropdown-toggle d-flex justify-content-center align-items-center"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <img
                class="accountimg"
                src="https://img.icons8.com/?size=50&id=11727&format=png"
                alt=""
              />
              <span class="ms-1 d-none d-lg-block">Hi, {{ user.firstname }}</span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li *ngIf="!authserviceService.isLoggedIn()">
                <a class="dropdown-item" routerLink="/customersignin">
                  <button class="btn btn-outline-primary">Sign In</button>
                </a>
              </li>
              <li><a class="dropdown-item" href="#">Saved items</a></li>
              <li
                class="dropdown-item"
                *ngIf="authserviceService.isLoggedIn()"
              >
                <button
                  class="btn btn-outline-primary"
                  (click)="logout()"
                >
                  Log Out
                </button>
              </li>
            </ul>
          </li>

          <!-- Cart -->
          <li class="nav-item">
            <a
              class="nav-link"
              aria-current="page"
              href=""
              
            >
             
              <mat-icon matBadge={{countno}} matBadgeColor="warn"> <img
              
                class="accountimg"
                src="https://img.icons8.com/?size=24&id=85080&format=png"
                alt=""
              /></mat-icon>
              
            </a>
          </li>

          <!-- Small Screen Menu Toggle -->
          <li class="nav-item d-lg-none">
            <a
              class="nav-link"
              role="button"
              (click)="toggleMobileMenu()"
            >
              <img
                *ngIf="!authserviceService.isLoggedIn()"
                class="accountimg"
                src="https://img.icons8.com/?size=50&id=11727&format=png"
                alt=""
              />
              <img
                *ngIf="authserviceService.isLoggedIn()"
                class="accountimg"
                src="https://img.icons8.com/?size=50&id=11727&format=png"
                alt=""
              />
              <span *ngIf="authserviceService.isLoggedIn()">Hi, {{ user.firstname }}</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Search Bar for Small Screens -->
    <div class="d-lg-none px-3 mt-2 col-11 mx-auto">
      <form class="d-flex">
        <input
          class="form-control"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success">Search</button>
      </form>
    </div>
  </nav>

  <!-- Full-Screen Mobile Dropdown -->
  <div
    class="mobile-menu-overlay"
    [class.show]="mobileMenuOpen"
  >
    <div class="mobile-menu-content">
      <button
        class="btn-close"
        (click)="toggleMobileMenu()"
      ></button>
      <ul class="list-unstyled text-center">
        <li>
          <a
            *ngIf="!authserviceService.isLoggedIn()"
            routerLink="/customersignin"
            class="btn btn-outline-primary w-100 mb-3"
            (click)="toggleMobileMenu()"
          >
            Sign In
          </a>
        </li>
        <li>
          <a
            href="#"
            class="btn btn-outline-secondary w-100 mb-3"
            (click)="toggleMobileMenu()"
          >
            Saved Items
          </a>
        </li>
        <li>
          <button
            *ngIf="authserviceService.isLoggedIn()"
            class="btn btn-outline-danger w-100"
            (click)="logout(); toggleMobileMenu()"
          >
            Log Out
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
