<main class="auth-page d-flex align-items-center justify-content-center min-vh-100">

  <div class="auth-card p-4 shadow-sm">

    <h4 class="text-center mb-2">Seller Forgot Password</h4>

    <input type="email"
      class="form-control mb-3"
      [(ngModel)]="email"
      placeholder="Enter your email">

    <button class="btn btn-dark w-100" (click)="submit()">
      Send Reset Link
    </button>

    <div class="text-center mt-3">
      <a routerLink="/sellerlogin">Back to Login</a>
    </div>

  </div>

</main>