<nav class="navbar navbar-expand-lg custom-navbar px-4 py-3">

  <div class="container-fluid align-items-center">

    <!-- LOGO -->
    <a class="navbar-brand fw-bold text-primary fs-3" routerLink="/">
      TazerH<span class="text-dark">Store</span>
    </a>

    <!-- DESKTOP SEARCH -->
   

    <!-- RIGHT ACTIONS -->
    <ul class="navbar-nav d-flex flex-row align-items-center gap-4">

      <!-- ACCOUNT -->
  

      <!-- CART -->
      

      <!-- MOBILE MENU -->
    

    </ul>

  </div>

  <!-- MOBILE SEARCH -->
 
</nav>

<!-- MOBILE MENU OVERLAY -->

